<%= form_for(target) do |f| %>
  <% if target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Beschrieb" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label "Punkte" %>
    <%= f.number_field :points %>
  </div>

  <div class="field">
    <%= f.label "Minen" %>
    <%= f.number_field :mines %>
  </div>

  <div class="field">
    <%= f.label "Count" %>
    <%= f.number_field :count %>
  </div>

  <div class="field">
    <%= f.label :last_action %>
    <%= f.datetime_select :last_action %>
  </div>

  <div class="field">
    <%= f.label :sort_order %>
    <%= f.number_field :sort_order %>
  </div>

  <div class="actions">
    <%= f.submit "Posten erstellen" %>
  </div>
<% end %>
