<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @target.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @target.description %>
</p>

<p>
  <strong>Points:</strong>
  <%= @target.points %>
</p>

<p>
  <strong>Mines:</strong>
  <%= @target.mines %>
</p>

<p>
  <strong>Count:</strong>
  <%= @target.count %>
</p>

<p>
  <strong>Last action:</strong>
  <%= @target.last_action %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
