<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th>Member1</th>
      <th>Member2</th>
      <th>Member3</th>
      <th>Member4</th>
      <th>Natel1</th>
      <th>Natel2</th>
      <th>Natel3</th>
      <th>Natel4</th>
      <th>False information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.points %></td>
        <td><%= group.member1 %></td>
        <td><%= group.member2 %></td>
        <td><%= group.member3 %></td>
        <td><%= group.member4 %></td>
        <td><%= group.natel1 %></td>
        <td><%= group.natel2 %></td>
        <td><%= group.natel3 %></td>
        <td><%= group.natel4 %></td>
        <td><%= group.false_information %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
