<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Punkte</strong>
  <%= @group.points %>
</p>

<p>
  <strong>Kopfgeld</strong>
  <%= @group.kopfgeld %>
</p>

<p>
  <strong>Mitglied 1</strong>
  <%= @group.member1 %>
</p>

<p>
  <strong>Mitglied 2:</strong>
  <%= @group.member2 %>
</p>

<p>
  <strong>Mitglied 3:</strong>
  <%= @group.member3 %>
</p>

<p>
  <strong>Mitglied 4:</strong>
  <%= @group.member4 %>
</p>

<p>
  <strong>Natel 1:</strong>
  <%= @group.natel1 %>
</p>

<p>
  <strong>Natel 2:</strong>
  <%= @group.natel2 %>
</p>

<p>
  <strong>Natel 3:</strong>
  <%= @group.natel3 %>
</p>

<p>
  <strong>Natel 4:</strong>
  <%= @group.natel4 %>
</p>

<p>
  <strong>Falschinformation:</strong>
  <%= @group.false_information %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
