<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @group.points %>
</p>

<p>
  <strong>Member1:</strong>
  <%= @group.member1 %>
</p>

<p>
  <strong>Member2:</strong>
  <%= @group.member2 %>
</p>

<p>
  <strong>Member3:</strong>
  <%= @group.member3 %>
</p>

<p>
  <strong>Member4:</strong>
  <%= @group.member4 %>
</p>

<p>
  <strong>Natel1:</strong>
  <%= @group.natel1 %>
</p>

<p>
  <strong>Natel2:</strong>
  <%= @group.natel2 %>
</p>

<p>
  <strong>Natel3:</strong>
  <%= @group.natel3 %>
</p>

<p>
  <strong>Natel4:</strong>
  <%= @group.natel4 %>
</p>

<p>
  <strong>False information:</strong>
  <%= @group.false_information %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
