<h1>Resets BE CAREFUL!</h1>


<%= form_tag resets_target_count_path do %>
	  <%= submit_tag "Posten Count auf 0 setzen"%>
	<%end%>
<br />

<%= form_tag resets_group_reset_path do %>
	  <%= submit_tag "Gruppen auf 0 setzen"%>
	<%end%>
<br /> 
<%= form_tag resets_target_reset_path do %>
	  <%= submit_tag "Minen auf 0 setzen"%>
	<%end%>
